.ContactUs {
    background: linear-gradient(to bottom right, #1a073c, #3a1f64); 
    color: #faf5f5; 
    font-family: 'Dosis', sans-serif;
    padding: 60px 20px;
    text-align: center;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
}

.contact-us-header h2 {
    font-size: 36px;
    color: rgb(14, 14, 14);
    margin-bottom: 15px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(247, 243, 243, 0.2); 
    
}

.contact-us-header p {
    font-size: 18px;
    margin-bottom: 40px;
    color: rgb(20, 20, 20); 
    font-family: 'Dosis',sans-serif;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.1); 
}

.contact-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.contact-card {
    background-color: rgba(254, 253, 253, 0.1); 
    border-radius: 10px;
    padding: 30px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.contact-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.2),
        0px 5px 15px rgba(0, 0, 0, 0.4);
}

.contact-card h3 {
    font-size: 22px;
    color: rgb(12, 12, 12); 
    margin: 15px 0;
}

.contact-card p {
    font-size: 16px;
    color: rgb(20, 19, 19); 
}


.contact-card a {
    text-decoration: none;
    color: rgb(22, 22, 22); 
    font-weight: bold;
}

.contact-card a:hover {
    color: rgb(16, 15, 15);
    text-decoration: underline;
}


.icon {
    font-size: 40px;
    color: rgb(150, 150, 150); 
    margin-bottom: 15px;
}
.contact-form-container {
    margin: 50px auto; 
    max-width: 500px; 
    background:white; 
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); 
}

.contact-form-container h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 28px;
    margin-bottom: 15px;
    color: black;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.1);
    
}

.contact-textarea,
.contact-input {
    font-family: 'Dosis', sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #444;
    border-radius: 8px;
    font-size: 16px;
    color: black;
    background: whitesmoke;
    resize: none; 
    overflow: auto;
    display: block;
    box-sizing: border-box; 
    height: 48px; 
}

.contact-textarea {
    height: 120px; 
}

.contact-textarea:focus {
    outline: none;
    border: 1px solid #666;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}


.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.contact-input:focus {
    outline: none;
    border: 1px solid #666;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.contact-submit-btn {
    background: #111;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-submit-btn:hover {
    background: rgb(113, 113, 113);
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .contact-cards {
        flex-direction: column;
    }

    .contact-card {
        width: 100%;
        margin-bottom: 20px;
    }
    .contact-form-container{
        width: 90%;
    }
}

  


  

  